.headerbody{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 72px;
    border: 1px solid gray;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    
    background: #FAFAFA;
   box-shadow: #0000001A;
    justify-content:space-between
}

.headerbody img{
    cursor: pointer;
}

.headerbody span{
    margin:28px ;
}

.div1{
    margin-left:29px ;
}