.day{
    position: absolute;
    width: 33px;
    height: 14px;
    left: 33px;
    top: 139px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */


    color: #1A1B41;
}

.imageContainer{
    margin-top: 20px;
}

.imageFooter{
    margin-top: -49px;
}