.card{
    max-width: 23rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    width: 311px;
    height: 191px;
}

.card:active,.card:hover{
    background-color: #FCF2FF;
}

.card_head{
    display: flex;
    flex-wrap: nowrap;
}

.cardText{
    /* position: absolute; */
left: 0%;
right: 0%;
top: 0%;
/* bottom: 33.33%; */
bottom: 35.33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
}

.cardDescription{
    /* position: absolute; */
width: 270px;
height: 48px;
left: 18px;
/* margin-top: 116px; */
margin-top: 80px;
}

.iconOutline{
    /* position: absolute; */
    width: 32px;
    height: 32px;
    left: 16px;
    top: 40px;
}

.iconGroup{
    position: absolute;    
left: 6.25%;
right: 3.74%;
/* top: 9.38%; */
top: 21.38%;
bottom: 11.87%;
}

.buttonLayout{
    display: flex;
flex-direction: row;
align-items: flex-start;
/* padding: 4px 12px; */
padding: 4px;

position: absolute;
width: 71px;
height: 22px;
/* left: 233px; */
left: 225px;
top: 45px;

/* background: #FFFFFF; */
border: 0.5px solid #BD00FD;
box-sizing: border-box;
border-radius: 4px;
}

.buttonLayout>button{

position: static;
/* width: 47px; */
height: 14px;
left: 12px;
top: 4px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 117% */

letter-spacing: 0.02em;

color: #BD00FD;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 10px; */
border: none;
background: transparent;

}

.headingLayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    
    position: absolute;
    width: 99px;
    height: 30px;
    left: 48px;
    top: 41px;
}

.heading{
    position: static ;
/* width: 83px; */
height: 14px;
left: 8px;
top: 8px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 14px;
/* identical to box height, or 87% */


color: #5A5B76;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.linkStyle{
    text-decoration: none;
    color: #212529;
}