.body{
    margin-top: 3vh;
    font-family: 'Roboto', sans-serif;
   
}

.flexx{
    display: flex;
    justify-content: space-between;
}

.remain{
    position: absolute;

width: 311px;
height: 257px;
left: 32px;
top: 190px;

background: #FFFFFF;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.18);
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
}

.redline{
    position: absolute;
width: 311px;
height: 8px;
left: 32px;
top: 182px;

background: #FF9D9D;
border-radius: 12px 12px 0px 0px;
}