.top{
    height: 138px;
    background-color: #F3E5F5;
}

.but1{
    cursor: pointer;
    border: none;

    position: absolute;
    width: 148px;
    height: 78px;
    left: 32px;
    top: 100px;
   
    background-color: white;
    border-radius: 15px;
}

.but2{
    cursor: pointer;
    border: none;

    position: absolute;
    width: 147px;
    height: 78px;
    left: 196px;
    top: 100px;

    background-color: white;
    border-radius: 15px;
}

.bottom{
  
    width: 375px;
    height: 510px;
    left: 0px;
    top: 194px;

    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
}

.but3{
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;

    position: absolute;
    width: 311px;
    height: 73px;
    left: 32px;
    top: 226px;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    
}

.but4{
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
    
    position: absolute;
    width: 311px;
    height: 73px;
    left: 32px;
    top: 323px;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.bottom1{
    position: absolute;

    top: 50px;
}

.bottom h4{
    color: #BD00FD;
    
    padding-left: 20px;
}

.body{
    background-color:#F3E5F5 ;
}

.addpillss{
    margin-top: 20px;
}